<div style="font-size: 14px; font-weight: bold; margin-bottom: 20px; color: #444;">» <a href="my_friends.php">My Friends</a></div>
<div style="font-size: 14px; font-weight: bold; margin-bottom: 20px; color: #444;">» <a href="friend_accept_user.php">Friend Invites</a></div>
