{% if log %}
{% if message_count == 0 %}
    {% set inbox_icon = '/img/mail.gif' %}
{% else %}
    {% set inbox_icon = '/img/mail_unread.gif' %}
{% endif %}
    <td style="padding: 0px 5px 0px 5px;">Hello, <a href="profile.php?user={{ userdata.name }}">{{ userdata.name }}</a>!
    </td>
    <td>
        <a href="my_messages.php"><img src="{{ inbox_icon }}" border="0" style="vertical-align: middle;"></a>
        (<a href="my_messages.php">{{ message_count }}</a>)
    </td>
    <td style="padding: 0px 5px 0px 5px;">|</td>
    <td><a href="logout.php">Logout</a></td>
    <td style="padding: 0px 5px 0px 5px;">|</td>
    <td><a href="help.php">Help</a></td>
    {% if userdata.powerlevel > 3 %}
        <td style="padding: 0px 5px 0px 5px;">|</td>
        <td><a href="admin.php" style="color: red;">Admin</a></td>
    {% endif %}
{% else %}
    <td><a href="signup.php" class="bold">Sign Up</a></td>
    <td>&nbsp;|&nbsp;</td>
    <td><a href="login.php">Log In</a></td>
    <td>&nbsp;|&nbsp;</td>
    <td><a href="help.php">Help</a>&nbsp;</td>
{% endif %}