{% extends "_layout.twig" %}

{% block title %}{{ err_title }}{% endblock %}

	{% block content %}
        <div class="tableSubTitle">{{ err_title }}</div>
        <p>{{ err_message | raw }}</p>
    {% endblock %}