<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    {% if theme.override != false %}
        <link href="{{ theme.override }}" rel="stylesheet" type="text/css">
    {% endif %}
<!--    <link rel="alternate" type="application/rss+xml" title="DaToob recently added videos [rss]"
          href="http://example.com/"> -->
    <title>DaToob - Your Digital Video Library</title>
</head>
<body>
{% block script %}
{% endblock %}
{% if theme.id == "pt" %}
    <table class="header1" style="padding: 5px 0px 0px 0px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0049C7">
        <tbody><tr valign="top">
            <td rowspan="2" style="padding: 0px 5px 5px 5px;" width="130"><a href="index.php"><img src="{{ theme.logo }}" alt="DaToob" border="0"></a></td>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" align="right">
                    <tbody><tr valign="top">
                        <td style="padding: 0px 5px 0px 5px; font-style: italic;" align="left">Upload, tag and share your videos worldwide!</td>
                        <td align="right">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    {% include "/components/userlinks.twig" %}
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>

        <tr>
            <td width="100%">

                <!--&nbsp;//&nbsp; <a href="browse.php">Browse</a>-->

                <table cellspacing="0" cellpadding="2" border="0">
                    <tbody><tr>
                        <form method="GET" action="results.php">
                        <td>
                            <input type="text" value="{{ searchQuery }}" name="search" size="30" maxlength="128" style="color:#0270e6; font-size: 14px; padding: 2px;">
                        </td>
                        <td>
                            <input class="button" type="submit" value="Search Videos">
                        </td>
                        </form>

                    </tr>
                    </tbody></table>

            </td>
        </tr>


        </tbody></table>
    <table class="header2" style="margin: 0px 0px 10px 0px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#3C3C3C" align="center">
        <tbody><tr>
            <td><img src="img/pixel.gif" width="1" height="5"></td>
        </tr>
        <tr>
            <td><img src="img/pixel.gif" width="5" height="1"></td>

            <td width="100%">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td>
                            <table cellspacing="0" cellpadding="2" border="0">
                                <tbody><tr>
                                    <td>&nbsp;<a href="index.php">Home</a></td>
                                    <td>&nbsp;|&nbsp;</td>
                                    <td><a href="my_profile.php">Settings</a></td>
                                    <td>&nbsp;|&nbsp;</td>
                                    <td><a href="browse.php">Browse</a></td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>

            </td>

            <td><img src="img/pixel.gif" width="5" height="1"></td>
        </tr>
        <tr>
            <td><img src="img/pixel.gif" width="1" height="5"></td>
        </tr>
        </tbody></table>
{% endif %}
<table width="800" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
    <tr>
        <td bgcolor="#FFFFFF" style="padding-bottom: 25px;">
            {% if theme.id == "yt" %}
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr valign="top">
                    <td width="130" rowspan="2" style="padding: 0px 5px 5px 5px;"><a href="index.php"><img
                                    src="img/logo_sm.gif" width="120" height="48" alt="DaToob" border="0"></a></td>
                    <td valign="top">

                        <table width="670" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr valign="top">
                                <td style="padding: 0px 5px 0px 5px; font-style: italic;">
                                    Upload, tag and share your videos worldwide!
                                </td>
                                <td align="right">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            {% include "/components/userlinks.twig" %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td width="100%">

                        <div style="font-size: 12px; font-weight: bold; float: right; padding: 10px 5px 0px 5px;"><a
                                    href="my_videos_upload.php">Upload Videos</a> &nbsp;//&nbsp; <a href="browse.php">Browse
                                Videos</a></div>

                        <table cellpadding="2" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <form method="GET" action="results.php">
                                    <td>
                                        <input type="text" value="{{ searchQuery }}" name="search" size="30" maxlength="128"
                                               style="color:#ff3333; font-size: 14px; padding: 2px;">
                                    </td>
                                    <td>
                                        <input type="submit" value="Search Videos">
                                    </td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                        </form>

                    </td>
                </tr>


                </tbody>
            </table>
            <table align="center" width="100%" bgcolor="#D5E5F5" cellpadding="0" cellspacing="0" border="0"
                   style="margin: 5px 0px 10px 0px;">
                <tbody>
                <tr>
                    <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                </tr>
                <tr>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                    <td width="100%">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table cellpadding="2" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td>&nbsp;<a href="index.php"
                                                         {% if page == "index" %}class="bold"{% endif %}>Home</a>
                                            </td>
                                            <td>&nbsp;|&nbsp;</td>
                                            <td><a href="my_videos.php" {% if page == "myVideos" %}class="bold"{% endif %}>My Videos</a></td>
                                            <td>&nbsp;|&nbsp;</td>
                                            <td><a href="my_favorites.php" {% if page == "myFavorites" %}class="bold"{% endif %}>My Favorites</a></td>
                                            <td>&nbsp;|&nbsp;</td>
                                            <td><a href="my_friends.php" {% if page == "myFriends" %}class="bold"{% endif %}>My Friends</a>&nbsp;<img src="img/new.gif"></td>
                                            <td>&nbsp;|&nbsp;</td>
                                            <td><a href="my_profile.php"
                                                   {% if page == "settings" %}class="bold"{% endif %}>My Profile</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                </tr>
                <tr>
                    <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            <div style="padding: 0px 5px 0px 5px;">
                {% block content %}{% endblock %}
            </div>
    </tr>
    </tbody>
</table>
<table cellpadding="10" cellspacing="0" border="0" align="center">
    <tbody>
    <tr>
        <td align="center" valign="center"><span class="footer"><a href="whats_new.php">What's New</a> | <a
                        href="about.php">About Us</a> | <a href="help.php">Help</a> | <a
                        href="terms.php">Terms of Use</a> | <a href="privacy.php">Privacy Policy</a>
    <br><br>By DaToob, original code by the rePok contributors | <a href="rss/global/recently_added.rss"><img src="/img/rss.gif" width="36"
                                                                                          height="14" border="0"
                                                                                          style="vertical-align: text-top;"></a></span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
