{% extends "_layout.twig" %}

{% block title %}Browse{% endblock %}

	{% block content %}
        <div class="tableSubTitle">About Us</div>

        <span class="highlight">What is DaToob?</span>

        <br><br>

        DaToob is a way to get your videos to the people who matter to you. With DaToob you can:

        <ul>
            <li> Show off your favorite videos to the world
            </li>
            <li> Take videos of your dogs, cats, and other pets
            </li>
            <li> Blog the videos you take with your digital camera or cell phone
            </li>
            <li> Securely and privately show videos to your friends and family around the world
            </li>
            <li> ... and much, much more!
            </li>
        </ul>

        <br><span class="highlight"><a href="signup.php">Sign up now</a> and open a free account.</span>

        <br><br><br>

        To learn more about our service, please see our <a href="help.php">Help</a> section.<br><br>

        Please feel free to <a href="contact.php">contact us</a>.<br><br><br>
    {% endblock %}
