{% block content %}
<div style="margin: auto; text-align:left; padding: 20px;">
	<div style="font-size:16px;">
	
		<img src="/img/logo.gif" width="180" height="71" hspace="20" alt="DaToob" align="left">
		You have been banned for the following reason:<br/>
		<br/>
		{{ banReason }}
	</div>
</div>
{% endblock %}
