{% extends "_layout.twig" %}

{% block title %}Contact Us{% endblock %}

	{% block content %}
        <div class="tableSubTitle">Contact Us</div>

        <div class="pageIntro">
            If you have questions or comments for us regarding DaToob, please contact us at the DaToob Discord.
        </div>
    {% endblock %}
