{% extends "_layout.twig" %}

{% block title %}Terms of Use{% endblock %}

	{% block content %}
        <div class="tableSubTitle">Terms of Use</div>

        I don't know what to put here, fuck.

    {% endblock %}
